
body
{
  background-image: url(white.jpg);
}
nav
{
  width:1000px;
  padding:20px;
  margin:auto;
  text-align: center;
  font-family: 'Cinzel', serif;
}
h2
{
  display: inline;
  padding: 4px 4px 4px 4px;
}
#header
{
  width: 1000px;
  height: 180px;
  margin: auto;
  text-align: center;
}
#container
{
  height: auto;
}
#riga1{
  width:100%;
  height: auto;
}
#riga2{
  width:100%;
  height: 350px;
}
#riga3{
  width:100%;
  height: auto;
}
#riga4{
  width:100%;
  height: 500px;
}
#riga5{
  width:100%;
  height: auto;
}
#titolo
{
  font-family: 'Cinzel', serif;
  font-size: 80px;
  text-shadow: 2px 2px #0284fe;
}

#pullup{
  width:300px;
  height: 300px;
  background-image: url(cali.gif);
  background-size: cover;
  display: inline-block;
}
#planche{
  float:left;
  width:300px;
  height: 300px;
  background-image: url(planche.jpg);
  background-size: cover;
  display: inline-block;
  margin-top:30px;
  border: 5px solid black;
  border-radius: 10px;
}
#trazione{
  width:300px;
  height: 300px;
  background-image: url(trazione.jpg);
  background-size: cover;
  display: inline-block;
  border-radius: 20px;
  margin-top: 10px;
  margin-right: 40px;
  border: 5px solid black;
  border-radius: 10px;
}
#squat{
  float:left;
  width:400px;
  height: 300px;
  background-image: url(squat.gif);
  background-size: cover;
  display: inline-block;
  margin-top: 50px;
  margin-left: 70px;
  border: 5px solid black;
  border-radius: 10px;
}
#verticale{
  float:right;
  width:300px;
  height: 300px;
  background-image: url(handstand.png);
  background-size: cover;
  display: inline-block;
  border-radius: 20px;
  margin-top: 10px;
}
#cosa
{
  width:70%;
  display: inline-block;
}
#benefici
{
  width: 70%;
  float:right;
  display: inline-block;
}
#aspetti_negativi{
  width:70%;
  height:auto;
  display: inline-block;
}
#esercizi_base{
  width:60%;
  height: auto;
  float:right;
}
#esercizi_avanzati{
  width:70%;
  height: auto;
}
#count{
  font-size: 50px;
  color:#0284fe;
  margin: auto;
}
footer{
  margin-top: 20px;
}
#info{
  text-align: center;
  font-family: 'Cinzel', serif;
  font-weight: 2000;
  font-size: 20px;
}
.colonna_sinistra{
  float:left;
  display: inline-block;
  width: 30%;
}
.box{
  border:3px solid #003300;
  padding:8px;
  background-color: #000066;/*00BFFF; */
  text-align: justify;
  overflow: auto;
  box-shadow: 7px 7px 30px 2px #02022D;
  border-radius:20px;
  font-family: 'Cinzel', serif;
  font-size: 20px;
  margin-top: 20px;
  color: white;
}
a:hover{
  background-color: #0284fe;
  color:white;
}
a:visited{
  color: white;
}
a:-webkit-any-link {
    color: black;
    cursor: pointer;
    text-decoration: none;
}
